:host { width: 100%; max-width: 1024px; display: block; margin: 0 auto; height: 95vh; display: flex; flex-direction: column; padding: 16px; box-sizing: border-box;}
h1 { color: white; text-align: center; }
pre { overflow-x: scroll; background-color: black; color: white; padding: 1em; border-radius: 8px; white-space: pre-wrap;}
.logs { display: flex; flex-direction: row; gap: 16px; flex: 1; }
.logs > div { width: 50%; height: 100%; display: flex; flex-direction: column; }
.logs > div pre { flex: 1; margin: 0;}