
<h1>Push sample client</h1>

<div class="subscription">
  <h2>Subscription details:</h2>
  @if(subscription$ | async) {
    <pre>{{subscription$ | async | json}}</pre>
  } @else {
    <p>Not subscribed yet</p>
    <button (click)="subscribe()">Subscribe</button>
  }
</div>

<div class="logs">
  <div class="messages">
    <h2>Messages:</h2>
    <pre>@for(message of (messages$ | async); track message) {{{message | json}}<br>}</pre>
  </div>
  <div class="clicks">
    <h2>Notification clicks:</h2>
    <pre>@for(click of (notificationClicks$ | async); track click) {{{click | json}}<br>}</pre>
  </div>
</div>




