
<h1>Push sample client</h1>

<h2>Subscription details:</h2>
@if(subscription$ | async) {
  <code>{{subscription$ | async | json}}</code>
} @else {
  <p>Not subscribed yet</p>
  <button (click)="subscribe()">Subscribe</button>
}

<h2>Messages:</h2>
<ul>
  <li *ngFor="let message of messages$ | async">
    <code>{{message | json}}</code>
  </li>
</ul>

<h2>Notification clicks:</h2>
<ul>
  <li *ngFor="let message of notificationClicks$ | async">
    <code>{{message | json}}</code>
  </li>
</ul>


